/nbproject/
/bin/
/cores/*.phar
/cores/BlueLight/
/cores/PocketMine-DevTools/
/virions/*.php
/virions/*.phar
/virions/libasynql/
/virions/spoondetector/
/plugins/*.phar
/plugins/EconomyS/
/plugins/Hormones/
/plugins/devirion/
/plugins/HungerGames-UPDATED/
/plugins/Parkour/
/plugins/SimpleAuth/
/plugins/StatsPE/
/plugins/Worlds/
/servers/
/env.sh